@font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Didact Gothic'), local('DidactGothic'), url(http://themes.googleusercontent.com/static/fonts/didactgothic/v5/v8_72sD3DYMKyM0dn3LtWp_RtrTXGeaL_Dia6_H9gNs.woff) format('woff');
}
* {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: grey;
    transition: color;
    transition-duration: 1s;
}
body { background-color: #333 }

#wrap {
    margin: 10px auto;
    width: 500px;
    overflow: hidden;
    border: 1px solid grey;
    text-align: center;
}
#wrap .title {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid grey;
}
#sidebar {
    position: fixed;
    top: 5%;
    left: 0px;
    background-color: white;
    trasintion: all;
    transition-duration: 0.5s;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#sidebar:hover {
    -webkit-box-shadow: 10px 4px 34px -1px rgba(0,0,0,0.95);
    -moz-box-shadow: 10px 4px 34px -1px rgba(0,0,0,0.95);
    box-shadow: 10px 4px 34px -1px rgba(0,0,0,0.95);
}
#sidebar div {
    list-style: none;
    display: block;
    color: black;
    overflow: hidden;
    padding: 20px;
    trasintion: all;
    transition-duration: 0.5s;
}
#sidebar div a {
    margin-left: 45px;
    color: black;
    font-size: 20px;
}
#sidebar div:hover {
    background-color: #C9C9C9;
}
#sidebar:hover { width: 350px }