body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #454545;
    height: 100%;
    margin: 0;
    padding-left: 240px;
    padding-top: 35px;
}
/* Used to center the div of the login page */
.center {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #454545;
    height: 100%;
    margin: 0;
    padding-left: 0px;
}
/* Changes the color of the input box on the login page */
input {
    color: #0f0f0f!important;
    text-align: center;
}
.container {
    color: black;
    padding: 20px;
    margin: 33px;
    text-align: center;
    background-color: white;
    max-width: 35%;
}

.error_container {
    color: black !important;
    margin: 0 auto !important;
    text-align: center !important;
    background-color: white !important;
    max-width: 100% !important;
    padding-right: 240px !important;
    padding-bottom: 35px !important;
}
/* Everything on the bottom of the page */
.footer {
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
    padding-left: 240px;
}

.footer a {
    color: #454545;
}

.main {
    border: 1px solid black;
    margin-left: 18%;
    margin-right: 18%;
    padding: 25px;
    background-color: #156;
    color: white;
}

.menu {
    list-style-type: none;
    width:0;
    padding: 0;
    overflow: hidden;
    background-color: #71A49C;
}

.link {
    float: left;
}

.link .alink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.alink {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.link .alink:hover{
    color: red;
    text-decoration: underline;
}

.link .alink  {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dt {
    max-width: 250px;
    max-height: 250px;
}

.dropdown {
    display: none;
}

#dropbtn:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #156;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* This is the Davinci logo in the inlog screen */
.dv_logo{
    height: 20%;
    width: 20%;
}

/* All the text on the frontpage */
.main-text {
    text-align: center;
    min-height: 100%;
    height: auto!important;
    margin: 0 auto
}

/* Everything for the changes table on the main page */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.changes {
    max-width: 70%;
    margin-left: 65%;
}

.right_menu {
    position: absolute;
    left: 70%;
    max-width: 80%;
}

/* Used for the select box in the add user page */
.select-style {
    border: 1px solid #ccc;
    width: 190px;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.back {
    text-decoration: none;
    color: #0f0f0f;
}

.back:hover {
    text-decoration: underline;
    color: #afafaf;
}

/* Preloader */
.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; }
.js div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;
}